{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}   
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>    
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <!-- Comment 追加 -->
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a> <!-- 追加 -->
    {% for comment in post.comments.all %}
    <!-- コメント管理追加 
　　　　ログインしているユーザは、すべてのコメントが見られる：(1)
　　　　ログインしているユーザは、コメントの承認または削除ができる3：(2)
　　　　ログインしていないユーザは、承認されたコメントのみを見られる：(3)
-->
        {% if user.is_authenticated or comment.approved_comment %} <!-- 追加 (1)と(3)に対応 -->  
        <div class="comment">
            <!-- div class="date" を変更。(2)に対応 -->
            <div class="date">
                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <!-- コメント管理追加　div class="date" の変更 終わり --> 
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}   <!-- コメント管理追加 -->
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    <!-- Comment追加 終わり -->
{% endblock %}